<md-dialog >
	<md-dialog-content>
		<!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
		<div layout="column" layout-align="center center" layout-padding style="text-align:center">
			<md-input-container>
	        <label>Venture </label>
	        <input ng-model="venture.name" type="text">
	      </md-input-container>
	      <md-button class="md-primary" ng-click="createVenture(Venture)" aria-label="Create Venture" md-ripple-size="full"><p class="md-display-1" style="color:grey">Establish Venture</p></md-button>
		</div>
	</md-dialog-content>
</md-dialog>