<md-bottom-sheet style="height:600px">
	
	<md-data-table-toolbar ng-show="!selectedItems.length">
	  <h2 class="md-title">Ventures</h2>
	</md-data-table-toolbar>

	<md-data-table-toolbar ng-show="selectedItems.length">
	  <div>{{selectedItems.length}} {{selectedItems.length > 1 ? 'items' : 'item'}} selected</div>
	</md-data-table-toolbar>

	<md-data-table-container>
	  <table md-data-table class="md-primary" md-row-select="selectedItems" md-progress="deferred">
	    <thead md-order="query.order" md-trigger="onOrderChange">
	      <tr>
	        <th name="Venture" order-by="name"></th>
	        <th numeric order-by="sharesAvailable.value" name="Shares Available"></th>
	        <th numeric order-by="directors.value" name="Number of Directors"></th>
	        <th numeric unit="ETH" order-by="marketCap.value" name="Market Capitalization"></th>

	        <!-- for later reference...
	        <th numeric name="Iron" unit="%" order-by="iron.value"></th>
	        -->
	      </tr>
	    </thead>
	    <tbody>
	      <tr md-auto-select ng-repeat="venture in ventures.data | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
	        <td>{{venture.name}}</td>
	        <td>{{venture.sharesAvailable.value}}</td>
	        <td>{{venture.directors.value}}</td>
	        <td>{{venture.marketCap.value}}</td>
	      </tr>
	    </tbody>
	  </table>
	</md-data-table-container>

	<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{ventures.data.length}}" md-trigger="onPaginationChange"></md-data-table-pagination>
</md-bottom-sheet>
