<md-content layout-padding layout-wrap>
    <small>{{account.alias}}: {{account.address}}</small>
    <small>Balance: {{balance}}</small>
    
    <md-button class="md-raised" ng-click="selectAccount()" aria-label="Select Account" md-ripple-size="full">Switch Account</md-button>
</md-content>


<!-- <md-bottom-sheet>
	<md-tabs md-selected="selectedIndexInteger">
		<md-tab label="Account Details" disabled md-on-select="" md-on-deselect="">
		  
		  <md-tab-body>
		    <p>
		  		Account Address: {{coinbase}}    
		    </p>
		  </md-tab-body>
		</md-tab>
	</md-tabs>
</md-bottom-sheet> -->