<md-dialog >
	<md-dialog-content>
		<!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
		<div layout="column" layout-align="center center" layout-padding style="text-align:center">
			<md-input-container>
	        <label>Enter Password</label>
	        <input ng-model="password" type="password">
	      </md-input-container>
	      <md-button class="md-primary" ng-click="enterPassword(password)" aria-label="Enter Password" md-ripple-size="full"><p class="md-display-1" style="color:grey">ENTER</p></md-button>
		</div>
	</md-dialog-content>
</md-dialog>