<!-- First Page is login page, select account -->



<div layout="column" layout-align="center center">
  <md-content layout-padding layout-wrap>
      <div layout="row">
        
        <div flex="100" style="text-align:center">
          <h1 class="md-title" style="color:grey">Select Account</h1>
          <div style="vertical-align: middle" ng-repeat="account in accounts">
            <md-button class="md-raised" ng-click="login(account)" aria-label="Select Account" md-ripple-size="full">{{account}}</md-button>
          </div>
        </div>
        
      </div>
  </md-content>
</div>
