<div layout="column" layout-align="center center">
  <md-content layout-padding layout-wrap>
      <div layout="row">
        <div flex="15">
          <md-sidenav md-component-id="search" class="md-sidenav-left" layout-padding>
              <p>Search Ventures</p>
          </md-sidenav>
          <md-content style="height:800px">
            <md-button ng-click="openSearch()">
              Search Ventures
            </md-button>
            <md-button ng-click="showAccount()">
              Account Details
            </md-button>
          </md-content>
        </div>
        <div flex="70">
          
        </div>
        <div flex="15">
          <md-sidenav md-component-id="search" class="md-sidenav-left" layout-padding>
              <p>Search Ventures</p>
          </md-sidenav>
          <md-content style="height:800px">
            <md-button ng-click="openSearch()">
              Search Ventures
            </md-button>
            <md-button ng-click="showAccount()">
              Account Details
            </md-button>
          </md-content>
        </div>
      </div>
  </md-content>
</div>
