<div flex="100" style="text-align:center; margin-top:35%">
	<md-button class="md-primary" ng-click="newVenture()" aria-label="New Venture" md-ripple-size="full"><h1 class="md-display-1" style="color:grey">NEW VENTURE</h1></md-button>

	<br/>
	<md-divider></md-divider>
	<br/>

	<h1 class="md-display-1" style="color:grey;">SELECT VENTURE</h1>
	<small ng-if="loading">Looking up directorships... <br/></small>
	<small ng-if="ventures.length == 0">No Ventures Found. Create A New Venture. <br/></small>
	<div ng-if="ventures.length > 0" style="vertical-align: middle" ng-repeat="venture in ventures">
		<md-button class="md-primary" ng-click="direct(venture)" aria-label="Select Venture" md-ripple-size="full">{{venture}}</md-button>
	</div>
	
</div>




